/*
--Colors: 
    tea green   #BDD9BF
    charcoal    #2E4052
    sunglow     #FFC857
    white       #FFFFFF
    dark purple #412234
*/

body {
    background-color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    width: auto;
    margin: auto;
}

html {
  scroll-behavior: smooth;
}

nav{
    /*size&position*/
    position: fixed;
    height: 72px;
    width: 92%;
    top: 36px;
    left: 50%;
    transform: translate(-50%, -50%);
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /*style*/
    background-color: #FFFFFF;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #2E4052;
    z-index:100;
}

#start, #intro, #cc1, #cc2, #cc3{
    scroll-margin-top: 75px;
}

a{
    font-family: "Montserrat Alternates", sans-serif;   
    text-decoration: none;
    color: #2E4052; 
}

a:visited {
    color: #2E4052;
}

a:hover {
  color: #BDD9BF;
}

header{
    margin-top: 100px;
}

header, main, footer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 16px;
    text-indent: 24px;
    padding: 16px 16px;
    font-family:"Montserrat Alternates", sans-serif;
}

h1, h2{
    font-family: "Pacifico", cursive;
}

h1{
    text-align: center;
    margin-bottom: 64px;
}

h2{
    padding-left: 48px;
}

hr{
    color: #2E4052;
    border: solid 2px;
}

.content-desc {
    margin-bottom: 24px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.content-child {
    display: flex;
    gap: 12px;
    align-items: center;
}

.content-img {
    width: 25%;
    border: 2px solid #2E4052;
    border-top-left-radius: 50%;

    position: relative;
}

.content-img img {
    width: 100%;
    height: auto;
}

.digit-body{
    /*center-bottom*/
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    bottom: 0%;
    /*size*/
    width: 30%;
    min-width: 48px;
    height: 50%;
    min-height: 48px;
    /*style*/
    /*background-color: #BDD9BF;*/
    border-top: 2px solid #2E4052;
    border-left: 2px solid #2E4052;
    border-right: 2px solid #2E4052;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

.digit-circle{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    bottom: 10%;

    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.content-img span{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    bottom: 8.5%;

    font-size: 40px;
}

.content-about {
    width: 75%;
}

footer{
    display: flex;
}

.block{
    width: 50%;
    height: 64px;
}

#first{
    background-color: #412234
}

#second{
    background-color: #FFC857;
}

#third{
    background-color: #BDD9BF;
}

@media (max-width: 512px) {
    .content-child {
        display: block; 
    }

    .content-img,
    .content-about {
        width: 100%;
    }

    .digit-circle{
        width: 100px;
        height: 100px;
    }

    .content-img span{
        bottom: 17%;
    }
}
